
*{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.header-child{
    width: 1400px;
    height: 500px;
    margin: 0px auto;
}
.nav-title{
    font-size: 35px;
    font-weight: 600;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-items>ul{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
}
.nav-links{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}
.header{
    background-color: #e7b070;
}